{% extends '::base.html.twig' %}
{% block title %} Category List {% endblock %}

{% block body -%}
    <h1>Category</h1>
    
    <div id="topbar">
            {% block topbar %}
                <a class="btn btn-default btn-xs" href="/epita/web/app_dev.php/admin/">Admin</a>
                <a class="btn btn-default btn-xs" href="/epita/web/app_dev.php/category/">Category</a>
                <a class="btn btn-default btn-xs" href="/epita/web/app_dev.php/questionanswer/">Question and Answer</a>
                <a class="btn btn-default btn-xs" href="/epita/web/app_dev.php/resource/">Resource</a>
            {% endblock %}
	</div>

    <table class="records_list table">
        <thead>
            <tr>
                <th>Number</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('category_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.category }}</td>
                <td>
                        <a class="btn btn-default btn-xs" href="{{ path('category_show', { 'id': entity.id }) }}">show</a>
                        <a class="btn btn-default btn-xs" href="{{ path('category_edit', { 'id': entity.id }) }}">edit</a>
                    </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a class="btn btn-default btn-xs" href="{{ path('category_new') }}">
                Add Category
            </a>
        
    {% endblock %}
