{% extends '::base.html.twig' %}
{% block title %} Admin List {% endblock %}

{% block body -%}
    <h1>Admin List</h1>
    
    <div id="topbar">
            {% block topbar %}
                <a class="btn btn-default btn-xs" href="/epita/web/app_dev.php/admin/">Admin</a>
                <a class="btn btn-default btn-xs" href="/epita/web/app_dev.php/category/">Category</a>
                <a class="btn btn-default btn-xs" href="/epita/web/app_dev.php/questionanswer/">Question and Answer</a>
                <a class="btn btn-default btn-xs" href="/epita/web/app_dev.php/resource/">Resource</a>
            {% endblock %}
	</div>

    <table class="records_list table">
        <thead>
            <tr>
                <th>Admin</th>
                <th>Username</th>
                <th>Password</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.password }}</td>
                <td>{{ entity.firstname }}</td>
                <td>{{ entity.lastname }}</td>
                <td>
                    <a class="btn btn-default btn-xs" href="{{ path('admin_show', { 'id': entity.id }) }}">show</a>
                    <a class="btn btn-default btn-xs" href="{{ path('admin_edit', { 'id': entity.id }) }}">edit</a>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a class="btn btn-default btn-xs" href="{{ path('admin_new') }}">
                Add Admin
            </a>
        
    {% endblock %}
